# Logs
npm-debug.log_
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
vitest.config.mts
package.json
worker-configuration.d.ts
.DS_Store
Thumbs.db
pids
.pid
.seed
.pid.lock
lib-coverage
coverage
.lcov
.nyc_output
jspm
stylelint
.umd
.tgz
.cache
.parcel
.next
out
nuxt
vuepress
temp
cache
docusaurus
serverless
fusebox
dynamodb
yarn
pnp
dev
local
stylelint
.env
env
.env
vars
.vars
node_modules
.wrangler